html, body, #root {
    height: 100%;
    background-color: #0e1012;
}

.paper-shadow {
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 3px 3px 0 #fff, 4px 4px 0 rgba(0,0,0,.125), 6px 6px 0 #fff, 7px 7px 0 rgba(0,0,0,.15);
    -moz-box-shadow: 1px 1px 0 rgba(0,0,0,.1),3px 3px 0 #fff,4px 4px 0 rgba(0,0,0,.125),6px 6px 0 #fff,7px 7px 0 rgba(0,0,0,.15);
    box-shadow: 1px 1px 0 rgba(0,0,0,.1), 3px 3px 0 #fff, 4px 4px 0 rgba(0,0,0,.125), 6px 6px 0 #fff, 7px 7px 0 rgba(0,0,0,.15)
}

.lg-container {
    width: min(90%, 70.5rem)
}

@media screen and (max-width: 414px) {
    .lg-container {
        width: 100%;
    }
}